<br>

<div class="row" style="cursor: default; margin-left:1%;
margin-right:1%;">
	<div class="col">
		<div class="col-md" >
			<div class="card text-center text-white  mb-3" id="lb-card">
			  	<div class="card-header"  >
			  		<h5 class="card-title">Total Clients</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_clients}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="db-card">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Elevators</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_elevators}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="last-card" style="background-color: #07c29c;">
			  	<div class="card-header">
			  		<h5 class="card-title">Company Members</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_stuff}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="mb-card">
			  	<div class="card-header">
			  		<h5 class="card-title">Services Done</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_services}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>